@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  padding: 124px 134px 108px 135px;
  background-color: #fdf0e9;
}
.title-box h1 {
  color: var(--text-dark-accent, #ef6d58);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.title-box h2 {
  margin-top: 20px;
  margin-bottom: 64px;
  color: var(--text-dark, #391400);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
}
.all-cards-box{
    display: flex;
}
.card-1 {
  width: 586px;
  height: 400px;
  padding: 48px;
  border-radius: 6px 0px 0px 0px;
  border: 1px solid #f3d1bf;
  background: #fff;
  box-shadow: 0px 32px 64px 0px rgba(57, 20, 0, 0.04);
}
.card-1 p {
  width: 490px;
  margin: 36px 0;
  color: var(--text-dark-gray, rgba(57, 20, 0, 0.64));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.user-information ul {
  display: flex;
  align-items: center;
}
.user-information ul li{
    list-style-type: none;
}
.card-2 {
  width: 586px;
  height: 336px;
  padding: 48px;
  border-radius: 0px 6px 0px 0px;
  border: 1px solid #f3d1bf;
}
.card-2 p {
  width: 490px;
  margin-top: 36px;
  margin-bottom: 31px
  color: var(--text-dark-gray, rgba(57, 20, 0, 0.64));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.card-3 {
  width: 586px;
  height: 336px;
  padding: 48px;
  border-radius: 0px 0px 6px 6px;
  border: 1px solid #f3d1bf;
}
.card-3 p {
  width: 490px;
  margin-top: 36px;
  margin-bottom: 31px;
  color: var(--text-dark-gray, rgba(57, 20, 0, 0.64));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.card-4 {
    width: 586px;
    height: 336px;
  padding: 48px;
  border-radius: 0px 0px 6px 0px;
  border: 1px solid #f3d1bf;
}
.card-4 p{
    width: 490px;
    margin-top: 36px;
    margin-bottom: 31px;
    color: var(--text-dark-gray, rgba(57, 20, 0, 0.64));
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
.all-cards-box img{
    width: 80px;
height: 80px;
margin-right: 24px;
border-radius: 80px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.all-cards-box h3{
    color: var(--text-dark, #391400);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Epilogue;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; 
}
.all-cards-box h4{
    color: var(--text-dark, #391400);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}
.box{
    display: flex;
    justify-content: center;
}
.box-shadow{
    width: 138px;
height: 48px;
margin-top: 65px;
display: flex;
justify-content: center;
align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box-shadow a{
    font-family: Epilogue;
    font-weight: 800;
text-decoration: none;
color: black;
}